<div class="container animated bounceInLeft" ng-class="{'bounceOutRight': clicked}">

	<div class="jumbotron col-md-4 col-md-offset-3" style="width: 500px">
		  <center>
			<p>Awesome! You're Almost Set!</p>
			<h3>Do You Want To Set Your Profile Picture?</h3>
			
            <div class="row">
                <div class="col-md-12">
                    
                    <img src="img/photo.png" width="200px"/>
                    <div class="button" ng-file-select ng-model="files"><button class="btn btn-primary">Upload Your Picture</button></div>
                    
                </div>
                <div class="col-md-4">

                </div>
            
    		</center>
    </div>

</div>

